In [ ]:
#Problem Statement 1 Task 1: Blood glucose levels for obese patients have a mean of 100 with a standard deviation of 15.A researcher thinks that a diet high in raw cornstarch will have a positive effect on blood glucose levels. A sample of 36 patients who have tried the raw cornstarch diet have a mean glucose level of 108. Test the hypothesis that the raw cornstarch had an effect or not.
#Solution:- Follow the above discussed steps to test this hypothesis:
#Step-1: State the hypotheses. The population mean is 100.

#H0: μ= 100 H1: μ > 100
#Step-2: Set up the significance level. It is not given in the problem so let’s assume it as 5% (0.05).
#Step-3: Compute the random chance probability using z score and z-table.
#z = (x - mean)/(standard deviation/sqrt(36))
#For this set of data: z= (108-100) / (15/√36)=3.20

In [2]:
import math
import scipy.stats as st

In [3]:
# Population Mean 
m = 100

# Gluclose Level Gl let be x
x = 108
 
# Standard Deviation S
s = 15

# Sample Patients
y = 36

# z = (x - mean)/(standard deviation/sqrt(36))
z = (108 - 100)/(15/math.sqrt(36))
display(z)

3.2

In [6]:
st.norm.cdf(z)

0.9993128620620841

In [ ]:
#probability of having value less than 108 is 0.9993 and more than or equals to 108 is (1-0.9993)=0.0007. 
#It is less than 0.05 so we will reject the Null hypothesis i.e. there is raw cornstarch effect.

In [ ]:
#Task1_2 : In one state, 52% of the voters are Republicans, and 48% are Democrats. In a second state, 47% of the voters are Republicans, and 53% are Democrats. Suppose a simple random sample of 100 voters are surveyed from each state.
#What is the probability that the survey will show a greater percentage of Republican voters in the second state than in the first state?

In [7]:
# For State 1 Republican Voters 52%
P1 = 0.52

# For Stare 2 Republican Voters 48%
P2 = 0.47

In [8]:

# The number of voters sampled from the first state (n1) = 100, # The nu 
# The number of voters sampled from the second state (n2) = 100.

n1 = 100
n2 = 100

n1P1 = n1 * P1
display(n1P1)

52.0

In [9]:

# n1negP1 = n1(1 - P1)# n1negP 
n1negP1 = n1 * (1 - P1)
display(n1negP1)

48.0

In [10]:
n2P2 = n2 * P2 
display(n2P2)

47.0

In [11]:

#n2negP2 = n2(1 - P2)#n2negP2 
n2negP2 = n2 * (1 - P2)
display(n2negP2)

53.0

In [12]:
# Find the mean of the difference in sample proportions: E(p1 - p2) => Ep1p2 = P1 - P2 = 0.52 - 0.47 = 0.05. 
Ep1p2 = P1 - P2
display(Ep1p2)

0.050000000000000044

In [13]:
stdValues = (P1 * (1 - P1) / n1) + ( P2 * (1 - P2) / n2 )
display(stdValues)

0.004987

In [14]:
# Standard Deviation σd = stdDeviation
stdDeviation = math.sqrt(stdValues)
display(stdDeviation)

0.07061869440877536

In [15]:
# Transformation appears below.
x = 0

# zp = zp1 - p2 = (x - μp1 - p2) / σd = = (0 - 0.05)/0.0706 = -0.7082
zp = (x - Ep1p2) / stdDeviation
display(zp)

-0.7080278164104213

In [16]:
# Using Normal Distribution Calculator, we find P(z <=0.7082) = 0.24 the probability of a z-score being -0.7082 or less is 0.24

st.norm.cdf(zp)

0.23946399182220013

In [ ]:
#Therefore, the probability that the survey will show a greater percentage of Republican voters in the second state than in the first state is 0.24.

In [ ]:
#Task 1_3: You take the SAT and score 1100. The mean score for the SAT is 1026 and the standard deviation is 209. How well did you score on the test compared to the average test taker?
#z = (x - μ) / σ
#(1100 - 1026) / 209 = .354. This means that your score was .354 std devs above the mean.
#Look up your z-value in the z-table to see what percentage of test-takers scored below you. A z-score of .354 is .1368 + .5000* = .6368 or 63.68%.

In [17]:
# SAT Total Score x
x = 1100

# Mean score μ let we do it as m
m = 1026

# Standard Deviation σ and let we do it as s
s = 209

# z = (x - μ) / σ

z = (x - m) / s
display(z)

0.35406698564593303

In [18]:
st.norm.cdf(z)

0.6383556584353189

In [ ]:
Task 2_1 :Problem Statement 1:
#Is gender independent of education level? A random sample of 395 people were surveyed and each person was asked to report the highest education level they obtained. The data that resulted from the survey is summarized in the following table:
#High School Bachelors Masters Ph.d. Total
#Female 60 54 46 41 201
#Male 40 44 53 57 194
#Total 100 98 99 98 395
#Question:
#Are gender and education level dependent at 5% level of significance? In other words, given the data collected above, is there a relationship between the gender of an individual and the level of education that they have obtained?

In [ ]:
#Chi-Square test of independence
#H0 :Null Hypothesis: The two categorical variables are independent.
#H1:Alternative Hypothesis: The two categorical variables are dependent.

In [19]:
import numpy as np
import pandas as pd
import scipy.stats as stats

f_list = [60,54,46,41]
m_list = [40,44,53,57]
h = [40,60]
b = [44,54]
m = [53,46]
p = [57,41]
marks = m_list + f_list
print(marks)
sex =  ['Male','Male','Male','Male','Female','Female','Female','Female']
edu = ['High School', 'Bachelors', 'Masters', 'Ph.d.','High School', 'Bachelors', 'Masters', 'Ph.d.']
df_edu = pd.DataFrame({"Sex":sex,"Edu":edu,"Marks":marks})

#df_edu = df_edu[['Sex','High School', 'Bachelors', 'Masters', 'Ph.d.']]

#df_edu['Row_total'] = row_list
print(df_edu)
cross_tab = pd.crosstab([df_edu.Sex,df_edu.Marks],df_edu.Edu,margins=True)

[40, 44, 53, 57, 60, 54, 46, 41]
           Edu  Marks     Sex
0  High School     40    Male
1    Bachelors     44    Male
2      Masters     53    Male
3        Ph.d.     57    Male
4  High School     60  Female
5    Bachelors     54  Female
6      Masters     46  Female
7        Ph.d.     41  Female

In [20]:
df2 = pd.crosstab(df_edu.Sex, df_edu.Edu,df_edu.Marks, aggfunc="sum",margins=True)
df2

Edu     Bachelors  High School  Masters  Ph.d.  All
Sex
Female         54           60       46     41  201
Male           44           40       53     57  194
All            98          100       99     98  395

In [21]:
df2.columns = ["Bachelors","High School","Masters","Ph.d.","row_totals"]

df2.index = ["Female","Male","col_totals"]

In [22]:
df2

            Bachelors  High School  Masters  Ph.d.  row_totals
Female             54           60       46     41         201
Male               44           40       53     57         194
col_totals         98          100       99     98         395

In [23]:
#df = pd.pivot_table(df_edu,index='Sex',columns='Edu',values='Marks',aggfunc=[np.sum],margins=True,margins_name='Count')

observed = df2.iloc[0:2,0:4]   # Get table without totals for later use
observed

        Bachelors  High School  Masters  Ph.d.
Female         54           60       46     41
Male           44           40       53     57

In [ ]:
#For a test of independence, we use the same chi-squared formula that we used for the goodness-of-fit test. 
#The main difference is we have to calculate the expected counts of each cell in a 2-dimensional table instead of a 1-dimensional table. 
#To get the expected count for a cell, multiply the row total for that cell by the column total for that cell and then divide by the total number of observations. 
#We can quickly get the expected counts for all cells in the table by taking the row totals and column totals of the table, performing an outer product on them with the np.outer() function and dividing by the number of observations:

In [24]:
expected =  np.outer(df2["row_totals"][0:2],
                     df2.loc["col_totals"][0:4]) / 395.0
expected = pd.DataFrame(expected)
expected.columns = ["Bachelors","High School","Masters","Ph.d."]
expected.index = ["Female","Male"]
expected

        Bachelors  High School    Masters      Ph.d.
Female  49.868354    50.886076  50.377215  49.868354
Male    48.131646    49.113924  48.622785  48.131646

In [ ]:
#calculate the chi-square statistic, the critical value and the p-value:

#*Note: We call .sum() twice: once to get the column sums and a second time to add the column sums together, returning the sum of the entire 2D table.

In [25]:
chi_squared_stat = (((observed-expected)**2)/expected).sum().sum()

print(chi_squared_stat)

8.006066246262538

In [ ]:
#*Note: The degrees of freedom for a test of independence equals the product of the number of categories in each variable minus 1. In this case we have a 2x4 table so df = 1x3 = 3.

In [30]:
crit = stats.chi2.ppf(q=0.95,df=3)
print("Critical value")
print(crit)
p_value =1-stats.chi2.cdf(x=chi_squared_stat,df=3)
print("p_value")
print(p_value)

Critical value
7.8147279032511765
p_value
0.04588650089174717

In [31]:
stats.chi2_contingency(observed=observed)

(8.006066246262538,
 0.045886500891747214,
 3,
 array([[49.86835443, 50.88607595, 50.37721519, 49.86835443],
        [48.13164557, 49.11392405, 48.62278481, 48.13164557]]))

In [ ]:
#Task2_2Problem Statement 2:
#Using the following data, perform a oneway analysis of variance using α=.05. Write up the results in APA format.
#[Group1: 51, 45, 33, 45, 67] 
#[Group2: 23, 43, 23, 43, 45] 
#[Group3: 56, 76, 74, 87, 56]

In [32]:

#The analysis of variance or ANOVA is a statistical inference test that lets you compare multiple groups at the same time.#The anal 
#The one-way ANOVA tests whether the mean of some numeric variable differs across the levels of one categorical variable. 
#It essentially answers the question: do any of the group means differ from one another? 

#The scipy library has a function for carrying out one-way ANOVA tests called scipy.stats.f_oneway()
import scipy.stats as stats
Group1 = [51, 45, 33, 45, 67]
Group2 = [23, 43, 23, 43, 45]
Group3 = [56, 76, 74, 87, 56]
# Perform the ANOVA
statistic, pvalue = stats.f_oneway(Group1,Group2,Group3)
print("F Statistic value {} , p-value {}".format(statistic,pvalue))
if pvalue < 0.05:
    print('True')
else:
    print('False')

F Statistic value 9.747205503009463 , p-value 0.0030597541434430556
True

In [ ]:
#Task2_3 :Problem Statement 3:
#Calculate F Test for given 10, 20, 30, 40, 50 and 5,10,15, 20, 25. For 10, 20, 30, 40, 50:

In [33]:
stats.f_oneway([10, 20, 30, 40, 50],[5,10,15, 20, 25])

F_onewayResult(statistic=3.6, pvalue=0.0943497728424377)

In [34]:
Group1 = [10, 20, 30, 40, 50]
Group2 = [5,10,15, 20, 25]

mean_1 = np.mean(Group1)
mean_2 = np.mean(Group2)

grp1_sub_mean1 = []
grp2_sub_mean2 = []
add1 = 0
add2 = 0
for items in Group1:
    add1 += (items - mean_1)**2
for items in Group2:
    add2 += (items - mean_2)**2
var1 = add1/(len(Group1)-1)
var2 = add2/(len(Group2)-1)

F_Test = var1/var2
print("F Test for given 10, 20, 30, 40, 50 and 5,10,15, 20, 25 is : ",F_Test)

F Test for given 10, 20, 30, 40, 50 and 5,10,15, 20, 25 is :  4.0